<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forever.bee.facedetection">

    <uses-feature android:name="android.hardware.camera.any" />
    <!--Access to the device's cameras & storage-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--For the Google Play Services-->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="face" />

</manifest>